<div class="container-fluid" style="background-color: #bbb;">
  
  <div class="back-button" style="border: 1px solid black; padding: 5px; margin: 5px;">
    <%= link_to "Back to all movies", movies_path %><br/>
  </div>
  <br>
  <%= link_to image_tag(@movie.poster_image_url), movie_path(@movie) %>
  <%= image_tag @movie.image_url(:thumb).to_s %>
  <h3><%= @movie.title %> (<%= link_to "edit", edit_movie_path(@movie) %>, <%= link_to "delete", movie_path(@movie), method: :delete, confirm: "You sure?" %>)</h3>
  <h4><%= @movie.release_date %></h4>
  <h5>Dir. <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes</h5>
  <p><%= @movie.description %></p>

  <hr>

  <% @movie.reviews.each do |review| %>
    <p><%= review.text %></p>
    <p><%= review.rating_out_of_ten %>/10</p>
    <small>- <%= review.user.full_name %></small><br/>
  <% end %>

  <h3>Reviews of <em><%= @movie.title %></em></h3>
  <% if current_user %>
    <% @movie.reviews.each do |review| %>
      <p><%= review.text %></p>
      <p><%= review.rating_out_of_ten %>/10</p>
      <small>- <%= review.user.email %></small><br/>
    <% end %>
    <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
  <% else %>
    <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
  <% end %>
</div>